@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  position: relative;
}

.container-area {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
  .container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;
    &__content {
      width: 70%;
      min-height: 15vh;
      margin-bottom: 1em;
      border-radius: 10px;
      display: grid;
      background-color: #ffffff;
      grid-template-columns: 5em auto auto auto 1fr;
      // grid-template-rows: 1fr 1fr;
      grid-auto-rows: auto;
      grid-template-areas:
        "a b c d e"
        "a f f f f"
        ". . . . g";

      &-rating {
        grid-area: a;
        width: 40%;
        height: 5em;
        justify-self: center;
        align-self: start;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        background-color: #f5f6fa;
        border-radius: 5px;

        p {
          color: hsl(238, 40%, 52%);
          font-weight: 700;
        }
      }
      &-img {
        grid-area: b;
        justify-self: center;
        align-self: center;
        img {
          max-width: 70%;
        }
        // border: 1px solid tomato;
      }
      &-name {
        grid-area: c;
        justify-self: center;
        align-self: center;
        font-weight: 700;
      }

      &-time {
        grid-area: d;
        justify-self: center;
        align-self: center;
        margin-left: 1em;
        color: hsl(211, 10%, 45%);
        font-weight: 400;
      }
      &-replay {
        grid-area: e;
        justify-self: end;
        align-self: center;
        padding-right: 1em;

        p {
          display: inline-block;
          color: hsl(238, 40%, 52%);
          font-weight: 600;
        }
      }

      &-comment {
        grid-area: f;
        width: 90%;
        padding-bottom: 1em;
        color: hsl(211, 10%, 45%);
      }
      .user-buttons {
        grid-area: e;
        justify-self: end;
        align-self: center;
        button {
          margin-right: 1em;
          width: 5em;
          border: none;
          background-color: inherit;
          font-size: 0.8em;
          font-weight: 600;
        }

        button:nth-child(1) {
          color: hsl(358, 79%, 66%);
        }
        button:nth-child(2) {
          color: hsl(238, 40%, 52%);
        }
      }
    }
  }
}

.reply {
  margin-left: 10%;
  max-width: 60%;
  position: relative;
}

.intend-bar {
  height: 100%;
  width: 2px;
  border-left: 1px solid hsl(238, 40%, 52%);
  position: absolute;
  left: -4em;
  top: 0;
}

.comment-area {
  width: 70%;
  min-height: 15vh;
  margin-bottom: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.add-comment {
  display: flex;
  align-items: flex-start;
  width: 90%;
  min-height: 10vh;

  gap: 1em;
}

#main-user-img {
  display: inline-block;
  width: 2.8em;
}

#usr-comment-text {
  width: 80%;
  border-radius: 0.5em;
  border-color: hsl(239, 57%, 85%);
  padding: 1em;
}

.btn {
  width: 8em;
  height: 3em;
  background-color: hsl(238, 40%, 52%);
  border: none;
  color: white;
  border-radius: 0.5em;
}

.reply-button {
  border: none;
  background-color: inherit;
  padding-left: 5px;
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

::placeholder {
  font-size: 1.2em;
  padding: 0.5em;
}

textarea:focus::placeholder {
  color: transparent;
}

.mention {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

.name-style {
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: white;
  background-color: hsl(238, 40%, 52%);
}

///modal

.modal-area {
  width: 22em;
  max-height: 40%;
  background-color: white;
  border-radius: 0.5em;
  position: absolute;
  display: none;
  .modal {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-inline: auto;
    width: 90%;
    height: 90%;

    h1 {
      font-size: 1.5em;
      font-weight: 600;
      padding-bottom: 0.8em;
    }
    p {
      font-size: 1em;
      padding-bottom: 1.5em;
      color: #94959a;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      height: 3em;
      width: 11em;
      margin-bottom: 0.8em;
      border-radius: 0.8em;
      border: none;
      color: white;
    }

    button:nth-child(1) {
      background-color: #94959a;
    }

    button:last-child {
      background-color: hsl(358, 79%, 66%);
    }
  }
}

#edited-comment {
  width: 100%;
  border-radius: 5px;
  color: hsl(211, 10%, 45%);
}

.update-btn {
  grid-area: g;
  display: block;
  height: 3em;
  width: 8em;
  background-color: hsl(238, 40%, 52%);
  color: white;
  border: none;
  border-radius: 5px;
  // position: absolute;
  // right: 8.5%;
  // bottom: 0;
  justify-self: end;
  margin-right: 20%;
  margin-bottom: 1em;
}
