* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.container-area {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f6fa;
}

.container-area .container {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f6fa;
}

.container-area .container__content {
  width: 70%;
  min-height: 15vh;
  margin-bottom: 1em;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  background-color: #ffffff;
  -ms-grid-columns: 5em auto auto auto 1fr;
      grid-template-columns: 5em auto auto auto 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b c d e" "a f f f f";
}

.container-area .container__content-rating {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
  width: 40%;
  height: 60%;
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background-color: #f5f6fa;
  border-radius: 5px;
}

.container-area .container__content-rating p {
  color: #5457b6;
  font-weight: 700;
}

.container-area .container__content-img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-area .container__content-img img {
  max-width: 70%;
}

.container-area .container__content-name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
}

.container-area .container__content-time {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1em;
  color: #b6c6f7;
  font-weight: 400;
}

.container-area .container__content-replay {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 1em;
}

.container-area .container__content-replay p {
  display: inline-block;
  color: #5457b6;
  font-weight: 600;
}

.container-area .container__content-replay:hover {
  cursor: pointer;
}

.container-area .container__content-comment {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: f;
  width: 90%;
  padding-bottom: 1em;
}

.container-area .container__content .user-buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-area .container__content .user-buttons button {
  margin-right: 1em;
  width: 5em;
  border: none;
  background-color: inherit;
  font-size: 0.8em;
  font-weight: 600;
}

.container-area .container__content .user-buttons button:nth-child(1) {
  color: #ed6468;
}

.container-area .container__content .user-buttons button:nth-child(2) {
  color: #5457b6;
}

.reply {
  margin-left: 10%;
  max-width: 60%;
  position: relative;
}

.intend-bar {
  height: 100%;
  width: 2px;
  border-left: 1px solid #5457b6;
  position: absolute;
  left: -4em;
  top: 0;
}

.comment-area {
  width: 70%;
  min-height: 15vh;
  margin-bottom: 1em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.add-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  min-height: 10vh;
  gap: 1em;
}

#main-user-img {
  display: inline-block;
  width: 2.8em;
}

#usr-comment-text {
  width: 80%;
  border-radius: 0.5em;
  border-color: #c3c4ef;
  padding: 1em;
}

.btn {
  width: 8em;
  height: 3em;
  background-color: #5457b6;
  border: none;
  color: white;
  border-radius: 0.5em;
}

.reply-button {
  border: none;
  background-color: inherit;
  padding-left: 5px;
  color: #5457b6;
  font-weight: 600;
}

::-webkit-input-placeholder {
  font-size: 1.2em;
  padding: 0.5em;
}

:-ms-input-placeholder {
  font-size: 1.2em;
  padding: 0.5em;
}

::-ms-input-placeholder {
  font-size: 1.2em;
  padding: 0.5em;
}

::placeholder {
  font-size: 1.2em;
  padding: 0.5em;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-ms-input-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

.mention {
  color: #5457b6;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */